.artistas {
    h2{padding-left: 5px;}
    .container-artinter{
        display: grid; width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        grid-template-areas:
        "karol drake"
        "taylor miley";
        .artistas-inter1 {display: flex; flex-direction: row; justify-content: space-around;
            grid-area: karol; margin: 15px;
            img {margin: 15px}} 
        .artistas-inter2 {display: flex; flex-direction: row; justify-content: space-around;
            grid-area: drake;margin: 15px;
            img {margin: 15px} }
        .artistas-inter3 {display: flex; flex-direction: row; justify-content: space-around;
            grid-area: taylor; margin: 15px;
            img {margin: 15px} }
        .artistas-inter4 {display: flex; flex-direction: row; justify-content: space-around;
            grid-area: miley; margin: 15px;
            img {margin: 15px} } 
    } 
    .container-artnacionales1{
        display: flex; flex-direction: row;
        justify-content: space-evenly;
        .artistas-nacionales {width: 10rem ;
            p {width: 100%;}
            img {width: 100%;}
        }
    }
    .container-artnacionales2{
        @extend .container-artnacionales1;
        
    }
} 










