@media (max-width:550px){
    .mapainterno img { max-width:400px ; max-height: 200px;
    }
    .mapa-texto a img {width: 400px ;
    }
    .footer-redes a img { width: 35px;
    }
    .responsive-navbar ul li {font-size: 12px;
    }
    footer p {font-size: 9px ;
    }
    .titulo-mapa h1 {font-size: 32px ;
    }
    .boton-comollegar button{ max-width: 95px; max-height: 45px; font-size: 14px !important;
    }
    .banner img { max-height: 250px;
    }
}
